<div class="assignee userBlock">

    <a data-ng-if="pullRequest.elders.length > 0" data-target="#modalCheck{{pullRequest.id}}" data-ng-click="assignmentAction(pullRequest, assignment)" data-toggle="{{elderCheckModal}}" class="assignMe {{assignmentStyle}}" title="{{assignTitle | translate}}">
        <img class="avatarWrapper" data-ng-if="pullRequest.assignee" data-ng-src="{{pullRequest.assignee.avatarUrl}}">
    </a>

    <a data-ng-if="!pullRequest.elders || pullRequest.elders.length === 0" data-target="#modal{{pullRequest.id}}" data-ng-click="assignmentAction(pullRequest, assignment)" data-toggle="{{assignmentModal}}" class="assignMe {{assignmentStyle}}" title="{{assignTitle | translate}}">
        <img class="avatarWrapper" data-ng-if="pullRequest.assignee" data-ng-src="{{pullRequest.assignee.avatarUrl}}">
    </a>

    <a data-ng-if="pullRequest.assignee" target="_blank" data-ng-href="pullRequest.assignee.profileUrl" class="userName">
        <span>{{getName(pullRequest.assignee)}}</span>
        <span class="subName" data-ng-if="pullRequest.assignee.fullName">{{pullRequest.assignee.username}}</span>
    </a>

</div>
