<!-- modal dialog for assigning pull requests while elder pull requests exist-->
<div class="modalCheck modal fade" data-ng-if="elderCheckModal" id="modalCheck{{pullRequest.id}}">
    <div class="col-md-6 col-md-offset-3 col-sm-12">
        <div class="mWrapper">
            <div class="mHeader">
                <a type="button" class="closeBtn" data-dismiss="modal"></a>
                <h4>
                    {{'dashboard.pullRequest.assign.checkModal.headline' | translate}}
                </h4>
            </div>
            <div class="listView col-xs-12">
                <section class="{{getColorClassDependingOnAge(elderPullRequest.createdAt)}}" data-ng-repeat="elderPullRequest in pullRequest.elders | orderBy:'createdAt'">
                    <div class="col-xs-10">
                        <strong class="block ellipsis">#{{elderPullRequest.number}} {{elderPullRequest.title}}</strong>
                        <strong class="block">from {{elderPullRequest.createdAt | date: 'dd.MM.yyyy HH:mm:ss'}}</strong>
                    </div>

                    <div class="col-xs-2">
                        <a data-ng-click="confirmOtherAssignment(elderPullRequest)" data-dismiss="modal" data-toggle="{{elderCheckModal}}" class="assignMe {{assignmentStyle}}" title="{{assignTitle | translate}}">
                        </a>
                    </div>
                </section>
            </div>
            <div class="mFooter">
                <button class="button butChancel floatL" data-dismiss="modal">{{'global.btn.cancel' | translate}}</button>
                <button class="button floatR" data-dismiss="modal" data-ng-click="confirmAssignment()">{{'dashboard.pullRequest.assign.checkModal.btn.assignSelected' | translate}}</button>
            </div>
        </div>
    </div>
</div>