<div class="contentWrapper" id="login" data-ui-view data-ng-controller="loginCtrl">
    <h2>Login</h2>

    <form class="overflowH"  data-ng-submit="submit(selectedUser)">
        <div  data-ng-if="errorMessage" class="alert alert-danger" role="alert">Login failed: {{errorMessage}}</div>

        <div class="overflowH row marginBottom">
            <label class="col-sm-2">Username</label>

            <div class="col-sm-4">
                <select class="form-control" data-ng-model="selectedUser" data-ng-options="user.username for user in users"></select>
            </div>
            <div class="col-sm-4">
                <button type="submit" class="btn btn-default">Sign in</button>
            </div>
        </div>
    </div>
</div>
