# app
.tmp/
/dist/
app/scripts/config/envConfig.js

# npm
node_modules/

# bower
app/bower_components/

# IntelliJ
/.idea/

# Netbeans
/nbproject/

# Gradle
/.gradle/

# Mac OS X
.DS_Store
*.iml

/.settings/
