<div id="repoFilter" ui-view>
  <h3 class="col-xs-12">devbliss Repos</h3>
  <div class="configBar col-xs-12">
    <a href="">select all</a> /
    <a href="">unselect all</a>
    <input type="text" placeholder="Search" class="search"/>
  </div>
  <ul>
    <li class="col-md-3"><label for="gpullr-backend"><input checked id="gpullr-backend" type="checkbox"/>gpullr-backend</label></li>
    <li class="col-md-3"><label for="docbliss"><input checked id="docbliss" type="checkbox"/>docbliss</label></li>
    <li class="col-md-3"><label for="ecosystem-course-aggregation"><input checked id="ecosystem-course-aggregation" type="checkbox"/>ecosystem-course-aggregation</label></li>
    <li class="col-md-3"><label for="gpullr-frontend"><input checked id="gpullr-frontend" type="checkbox"/>gpullr-frontend</label></li>
    <li class="col-md-3"><label for="ecosystem-examples"><input checked id="ecosystem-examples" type="checkbox"/>ecosystem-examples</label></li>
    <li class="col-md-3"><label class="striked" for="jura-frontend"><input id="jura-frontend" type="checkbox"/>jura-frontend</label></li>
    <li class="col-md-3"><label class="striked" for="acd"><input id="acd" type="checkbox"/>acd</label></li>
    <li class="col-md-3"><label for="edison-frontend"><input checked id="edison-frontend" type="checkbox"/>edison-frontend</label></li>
    <li class="col-md-3"><label class="striked" for="scripts"><input id="scripts" type="checkbox"/>scripts</label></li>
    <li class="col-md-3"><label for="symfony-bundles"><input checked id="symfony-bundles" type="checkbox"/>symfony-bundles</label></li>
    <li class="col-md-3"><label for="GoBeyond_ProductContent"><input checked id="GoBeyond_ProductContent" type="checkbox"/>GoBeyond_ProductContent</label></li>
    <li class="col-md-3"><label for="Interface_ProductContent"><input checked id="Interface_ProductContent" type="checkbox"/>Interface_ProductContent</label></li>
    <li class="col-md-3"><label for="Mind_ProductContent_UK"><input checked id="Mind_ProductContent_UK" type="checkbox"/>Mind_ProductContent_UK</label></li>
    <li class="col-md-3"><label class="striked" for="jura-backend"><input id="jura-backend" type="checkbox"/>jura-backend</label></li>
    <li class="col-md-3"><label class="striked" for="salt"><input id="salt" type="checkbox"/>salt</label></li>
    <li class="col-md-3"><label class="striked" for="jura-deployment"><input id="jura-deployment" type="checkbox"/>jura-deployment</label></li>
    <li class="col-md-3"><label for="AllElements_ProductContent"><input checked id="AllElements_ProductContent" type="checkbox"/>AllElements_ProductContent</label></li>
    <li class="col-md-3"><label for="homepage"><input checked id="homepage" type="checkbox"/>homepage</label></li>
    <li class="col-md-3"><label for="ecosystem-grunt-plugin"><input checked id="ecosystem-grunt-plugin" type="checkbox"/>ecosystem-grunt-plugin</label></li>
    <li class="col-md-3"><label class="striked" for="Mind_ProductContent_US"><input id="Mind_ProductContent_US" type="checkbox"/>Mind_ProductContent_US</label></li>
  </ul>
</div>
