<header id="header" class="col-xs-12">
    <a class="logo" data-ui-sref="{{navBar[0].state}}"></a>
    <nav class="pull-left">
        <ul class="navi">
            <li class="{{item.state}}" data-ui-sref-active="active" data-ng-repeat="item in navBar" data-ng-click="navigate(item)">
                <a data-ui-sref="{{item.state}}">
                    <span class="iconFont {{item.state}}Icon visible-xs"></span>
                    <span class="hidden-xs">{{item.title}}</span>
                    <span data-ng-if="item.bubble && requestCount" class="bubble">{{requestCount}}</span>
                </a>
            </li>

            <li class="dropdown">
                <a href class="dropdown-toggle" data-toggle="dropdown"><span>Notifications</span>
                    <span data-ng-if="notifications.length > 0" class="bubble">{{notifications.length}}</span>
                </a>

                <ul class="dropdown-menu">
                    <li data-ng-repeat="item in notifications">
                        {{item.actorName}} closed your pull request {{item.pullRequestTitle}} in repository {{item.repoTitle}}
                    </li>
                </ul>
            </li>

        </ul>
    </nav>

    <a href="{{user.profileUrl}}" target="_blank" class="pull-right" data-ng-if="user">
        <span class="username hidden-xs">{{getName(user)}}</span>
        <img class="avatarWrapper" data-ng-src="{{user.avatarUrl}}" />
    </a>
</header>