<div id="wallboard" ui-view>

    <div class="row">
        <div class="col-sm-8 unassignedPullRequests">
            <h2>Open</h2>

            <div class="row">
                <div class="col-sm-6" ng-repeat="pr in unassignedPullRequests">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            #{{pr.number}} - {{pr.repoName}}
                        </div>

                        <div class="panel-body">
                            <div class="title">{{pr.title}}</div>
                            <div class="author">{{pr.author.username}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4 assignedPullRequests">
            <h2>In Progress</h2>

            <div class="row">
                <div class="col-sm-12" ng-repeat="pr in assignedPullRequests">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            #{{pr.number}} - {{pr.repoName}}
                        </div>

                        <div class="panel-body">
                            <div class="title">{{pr.title}}</div>
                            <div class="author">{{pr.author.username}}</div>
                        </div>
                        <div class="panel-footer assignee">
                            {{pr.assignee.username}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
