<h2 data-ng-if="errorMessage" class="alert alert-danger dMarginTop">{{errorMessage}}</h2>

<div id="wallboard" class="listView wallboard row">
    <div class="col-md-8 unassignedPullRequests">
        <h2>Open</h2>
        <div class="row">
            <div class="col-md-6" data-ng-repeat="pr in unassignedPullRequests">
                <section data-dvb-wallboard-pull-request data-pull-request="pr"></section>
            </div>
        </div>
    </div>

    <div class="col-md-4 assignedPullRequests">
        <h2>In Progress</h2>
        <div data-ng-repeat="pr in assignedPullRequests">
            <section data-dvb-wallboard-pull-request pull-request="pr"></section>
        </div>
    </div>
</div>