#header{
    .navi .linkItem{
        padding-bottom: 11px;
        a{
            position: relative;
        }
        .bubble{
            .position(absolute, -16px, -@halfSpacing, null, null);
            background-color: transparent;
            padding: 0;
            font-weight: bold;
        }
        &.overlay{
            position: static;
            .overlayBtn:after{
                top: 30px;
            }
            .overlayMenu{
                width: 100%;
            }
            & .overlayBtn:after{
                left: 0;
            }
        }
    }
}

.listView{
    section{
        position: relative;
    }
    .avatarWrapper{
        .dimension(@dashboardAvatarSizeSmall, @dashboardAvatarSizeSmall);
    }
    .userName{
        line-height: 1.2;
    }
    .prInfos{
        margin-top: @defaultSpacing;
    }
    .assignment,
    .rank{
        .position(absolute, 10px, 0, null, null)
    }
    .stats{
        margin-top: @defaultSpacing;
    }
}
#ranking{
    .rank{
        .fontSet(38px, 1);
        .textR;
    }
    .topRanks {
        padding: 0;
    }
}
.assignMe {
    .dimension(@dashboardAvatarSizeSmall, @dashboardAvatarSizeSmall);
    .fontSet(@assignMeIconSizeSmall, @dashboardAvatarSizeSmall)
}