<div id="repoFilter" ui-view>
  <h3 class="col-xs-12">Devbliss Repos</h3>
  <div class="configBar col-xs-12">
    <a href="">select all</a> /
    <a href="">unselect all</a>
    <input type="text" value="Search" class="search"  ng-model="searchText.$"/>
  </div>
  <ul>
    <li class="col-md-3" data-ng-repeat="repo in repos | filter:searchText"><label ng-click="toggle()" class="toggle showInList" for="{{repo.name}}"><input checked id="{{repo.name}}" type="checkbox"/>{{repo.name}}</label></li>
  </ul>
</div>