<div id="dashboard">

    <div class="marginBottom"
         data-ng-controller="systemNotificationsCtrl">
        <div class="alert alert-warning"
             role="alert"
             data-ng-repeat="msg in messages"> {{'dashboard.systemNotification.apiRateLimitReached' | translate: {resetTime: msg.validUntilParsed } }}</div>
    </div>

    <div class="contentWrapper">
        <div class="marginBottom">
            <div class="row">
                <div class="col-xs-10">
                    <h3>{{'dashboard.headline.openRequest' | translate}}</h3>
                </div>
                <div class="col-xs-2">
                    <a title="{{'dashboard.filter.byTime' | translate}}"
                       data-ng-click="orderUnassignedPrList(user.userSettingsDto.unassignedPullRequestsOrdering === 'ASC' ? 'DESC' : 'ASC')"
                       class="filterTimeOrder icon{{user.userSettingsDto.unassignedPullRequestsOrdering === 'ASC' ? 'Newest' : 'Oldest' }}"
                       href="#"></a>
                </div>
            </div>
        </div>

        <div class="listView clear">
            <section class="overflowH"
                     data-ng-repeat="pr in pullRequests | filter: {assignee: 'null'} | orderBy: 'createdAt': user.userSettingsDto.unassignedPullRequestsOrdering === 'DESC'"
                     data-dvb-pull-request
                     data-pull-request="pr"
                     data-age-property="'createdAt'"
                     data-logged-in-user="user">
            </section>
        </div>
    </div>

    <div class="contentWrapper dMarginTop">
        <div class="marginBottom">
            <div class="row">
                <div class="col-xs-10">
                    <h3>{{'dashboard.headline.assignedRequest' | translate}}</h3>
                </div>
                <div class="col-xs-2">
                    <a title="filtered by time {{user.userSettingsDto.assignedPullRequestsOrdering === 'ASC' ? 'oldest' : 'newest'  }}"
                       data-ng-click="orderAssignedPrList(user.userSettingsDto.assignedPullRequestsOrdering === 'ASC' ? 'DESC' : 'ASC')"
                       class="filterTimeOrder icon{{user.userSettingsDto.assignedPullRequestsOrdering === 'ASC' ? 'Newest' : 'Oldest' }}"
                       href="#"></a>
                </div>
            </div>
        </div>
        <div class="listView clear">
            <section class="overflowH"
                     data-ng-repeat="pr in pullRequests | filter: {assignee: '!null'} | orderBy: 'assignedAt': user.userSettingsDto.assignedPullRequestsOrdering === 'DESC'"
                     data-dvb-pull-request
                     data-pull-request="pr"
                     data-age-property="'assignedAt'"
                     data-logged-in-user="user"></section>
        </div>
    </div>
</div>


<!-- modal dialog for assigning pull requests while elder pull requests exist-->
<div class="modalCheck modal fade" data-ng-if="elderCheckModal" id="modalCheck{{pullRequest.id}}" data-ng-controller="assignmentModalController">
    <div class="col-md-6 col-md-offset-3 col-sm-12">
        <div class="mWrapper">
            <div class="mHeader">
                <a type="button" class="closeBtn" data-dismiss="modal"></a>
                <h4>
                    {{'dashboard.pullRequest.assign.checkModal.headline' | translate}}
                </h4>
            </div>
            <div class="listView col-xs-12">
                <section class="{{getColorClassDependingOnAge(elderPullRequest.createdAt)}}" data-ng-repeat="elderPullRequest in pullRequest.elders | orderBy:'createdAt'">
                    <div class="col-xs-10">
                        <strong class="block ellipsis">#{{elderPullRequest.number}} {{elderPullRequest.title}}</strong>
                        <strong class="block">from {{elderPullRequest.createdAt | date: 'dd.MM.yyyy HH:mm:ss'}}</strong>
                    </div>

                    <div class="col-xs-2">
                        <a data-ng-click="confirmOtherAssignment(elderPullRequest)" data-dismiss="modal" data-toggle="{{elderCheckModal}}" class="assignMe {{assignmentStyle}}" title="{{assignTitle | translate}}">
                        </a>
                    </div>
                </section>
            </div>
            <div class="mFooter">
                <button class="button butChancel floatL" data-dismiss="modal">{{'global.btn.cancel' | translate}}</button>
                <button class="button floatR" data-dismiss="modal" data-ng-click="confirmAssignment()">{{'dashboard.pullRequest.assign.checkModal.btn.assignSelected' | translate}}</button>
            </div>
        </div>
    </div>
</div>

<!-- modal dialog for already assigned pull requests-->
<div class="modal fade" data-ng-if="assignmentModal" id="modal{{pullRequest.id}}" data-ng-controller="assignmentModalController">
    <div class="col-md-6 col-md-offset-3 col-sm-12">
        <div class="mWrapper">
            <div class="mHeader">
                <a type="button" class="closeBtn" data-dismiss="modal"></a>
                <h4>
                    {{'dashboard.pullRequest.assign.modal.headline' | translate}}
                </h4>
            </div>
            <p class="mBody">{{'dashboard.pullRequest.assign.modal.text' | translate}}</p>
            <div class="mFooter">
                <button class="button butChancel floatL" data-dismiss="modal">{{'global.btn.cancel' | translate}}</button>
                <button class="button floatR" data-dismiss="modal" data-ng-click="confirmAssignment()">{{'global.btn.confirm' | translate}}</button>
            </div>
        </div>
    </div>
</div>
