.filterTimeOrder{
    .iconFont;
    .fontSet(50px, 31px);
    .floatR;
    margin: 4px @defaultSpacing 0 0;
    &.iconNewest:before{
        content: '\e610';
    }
    &.iconOldest:before{
        content: '\e60f';
    }
}