.input{
    .borderRadius(@halfSpacing);
    .boxSizing(border-box);
    background-color: @white;
    border: none;
    line-height: 1;
    padding: @halfSpacing @defaultSpacing;
    width: 100%;
}
.button{
    .borderRadius(@halfSpacing);
    background-color: @dbBlack;
    border: none;
    color: @dbLightGray;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    line-height: 1;
    padding: 6px @defaultSpacing;
    outline: none;
    &:visited{
        color: @dbLightGray;
    }
    &:hover{
        background-color: @dbLighterGray;
        color: @dbBlack;
        text-decoration: none;
    }
    &.butCancel {
        background-color: @dbLighterGray;
        color: @dbBlack;
        &:hover{
            background-color: @dbBlack;
            color: @dbLightGray;
        }
    }
    &.butDanger{
        background-color: @warning3;
    }
}
.closeBtn{
    .position(absolute, @defaultSpacing, @defaultSpacing, none, none);
    .iconFont;
    color: @dbBlack;
    cursor: pointer;
    &:after{
        content: '\e605';
    }
}
.toggleWrapper{
    cursor: pointer;
}
.toggleBtn{
    .borderRadius(@defaultSpacing);
    background-color: @white;
    display: block;
    float: left;
    height: 10px;
    margin: 4px 5px 0 0;
    position: relative;
    width: 20px;
    &:after{
        .animation(40ms, linear, 0s, normal, 1, toggleBtnOn);
        .borderRadius(50%);
        .dimension(8px);
        .position(absolute, 1px, null, null, 1px);
        background-color: @dbGray;
        content: '';
        display: block;
    }
    .toggleOff &:after{
        background-color: @dbBlack;
        left: 11px;
        .animation(40ms, linear, 0s, normal, 1, toggleBtnOff);
    }
    .toggleOff &{
        background-color: @dbGreen;
    }
}