#header {
    .borderRadius(0 0 @halfSpacing @halfSpacing);
    background-color: @dbBlack;
    margin-bottom: @doubleSpacing;
    a.active {
        background-color: #878B96;
    }
    span {
        color: @white;
    }
    .logo {
        .floatL;
        .iconFont;
        .fontSet(35px, 50px);
        margin-right: @defaultSpacing;
        &:after {
            color: @dbGreen;
            content: '\e608';
        }
    }
    .bubble {
        background-color: @dbGreen;
        padding: 2px @defaultSpacing;
        margin-left: @halfSpacing;
        .borderRadius(@defaultSpacing);
    }
    .avatarWrapper {
        .dimension(39px);
        .floatL;
        margin: 5px 0;
    }
    .username {
        padding: 16px @defaultSpacing 0 0;
        .floatL;
    }
    .navi {
        .linkItem {
            .floatL;
            padding: 16px @defaultSpacing;
            a {
                .block;
            }
            &.active, &.open {
                background-color: @black;
            }
        }
        .dashboardIcon:before,
        .statsIcon:before,
        .userSettingsIcon:before {
            .fontSet(20px, 1)
        }
        .dashboardIcon:before {
            content: '\e60b';
        }
        .statsIcon:before {
            content: '\e60e';
            font-weight: bold;
        }
        .userSettingsIcon:before {
            content: '\e60d';
        }
        .notificationsIcon:before {
            .fontSet(23px, 19px);
            content: '\e609';
        }
    }
    .overlay {
        position: relative;
        .overlayMenu {
            .borderRadius(@halfSpacing);
            .position(absolute, 60px, none, none, 0);
            background-color: @black;
            display: none;
            padding-top: @defaultSpacing;
            width: 400px;
            z-index: 1;
        }
        .item {
            .borderRadius(@halfSpacing);
            .relative;
            background-color: @dbLightGray;
            float: none;
            margin: 0 @defaultSpacing @defaultSpacing @defaultSpacing;
            padding-top: @defaultSpacing;
            padding-bottom: @defaultSpacing;
        }
        &.open{
            & .overlayBtn:after{
                .dimension(10px);
                .position(absolute, 45px, none, none, 10px);
                background-color: @black;
                content: '';
                display: block;
                transform: rotate(45deg);
            }
            .overlayMenu {
                display: block;
                .button {
                    margin-bottom: @defaultSpacing;
                }
            }
        }
    }
}

.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
    display: none;
}

@media (max-width: @screen-sm) {
    .hidden-xs {
        display: none;
    }

    .visible-xs {
        display: block;
    }
}

@media (min-width: @screen-sm) and (max-width: @screen-md) {
    .hidden-sm {
        display: none;
    }

    .visible-sm {
        display: block;
    }
}

@media (min-width: @screen-md) and (max-width: @screen-lg) {
    .hidden-md {
        display: none;
    }

    .visible-md {
        display: block;
    }
}

@media (min-width: @screen-lg) {
    .hidden-lg {
        display: none;
    }

    .visible-lg {
        display: block;
    }
}
