#dashboard {
    .avatar {
        border-radius: 3px;
        height: 20px;
        width: 20px;
    }

    .creationDate {
        white-space: nowrap;
    }

    .linesAdded {
        color: #55a532;
    }

    .linesRemoved {
        color: #bd2c00;
    }
}

#gpullrheader {
    .bubble {
        background-color:#f00;
        padding:2px 10px;
        color: #fff;
        margin-left: 5px;
        .borderRadius(10px);
    }
    .avatar {
        border-radius: 3px;
        margin: 5px 15px 5px 0px;
        height: 40px;
        width: 40px;
    }
}
