#dashboard {
    .avatarWrapper {
        border: 1px solid #bbb;
        border-radius: 3px;
        display: inline-block;
    }

    .avatar {
        display: inline-block;
        height: @dashboardAvatarSize;
        width: @dashboardAvatarSize;
        vertical-align: top;
    }

    .stats {
        white-space: nowrap;
    }

    .assignMe {
        background-color: #fff;
        color: #47c;
        cursor: pointer;
        font-size: @assignMeIconSize;
        height: @dashboardAvatarSize + 2px;
        width: @dashboardAvatarSize + 2px;

        &.isAssigned {
            &:hover {
                .avatar {
                    display: none;
                }

                .fa-user-plus {
                    display: inline-block;
                }
            }

            .avatar {
                display: inline-block;
            }

            .fa-user-plus {
                display: none;
            }
        }
    }

    .helpIcon {
        cursor: help;
    }
}

// table col style for assignee
.assignee {
    text-align: center;        
}

#gpullrheader {
    .bubble {
        background-color:#f00;
        padding:2px 10px;
        color: #fff;
        margin-left: 5px;
        .borderRadius(10px);
    }
    .avatar {
        border-radius: 3px;
        margin: 5px 15px 5px 0px;
        height: 40px;
        width: 40px;
    }
}
