.loginScreen{
    .overflowH;
    width: 350px;
    margin: 0 auto;
    h3{
        .textC;
        margin: @doubleSpacing 0;
    }
    .btn{
        .floatR;
    }
}
.iconWrapper{
    position: relative;
    width: 300px;
    margin: 0 auto 30px;
    &:before{
        .iconFont;
        .fontSet(300px, 1);
        color: @dbGreen;
        content: '\e608';
        display: block;
        z-index: 10;
    }
}
.iconAniBg{
    .dimension(236px, 235px);
    //.overflowH;
    .position(absolute, 32px, none, none, 32px);
    .transform(rotate(45deg));
    .borderRadius(44px);
    background-color: @dbBlack;
    z-index: -1;
}
.logProgress{
    .iconAniBg{
        &:before,
        &:after{
            .borderRadius(50%);
            .dimension(17px);
            background-color:  @dbLightGray;
            content: '';
        }
        &:before{
            .animation(3s, linear, 0s, normal, infinite, masterBubble);
            .position(absolute, 279px, none, none, 202px);
        }
        &:after{
            .animation(3s, linear, 0s, normal, infinite, mergeBubble);
            .position(absolute, 188px, none, none, 292px);
        }
    }
}