.modal{
    .modal-content{
        background-color: @dbLightGray;
    }
    .modal-header,
    .modal-body{
        border-bottom: 1px solid @dbBlack;
    }
    .modal-body{
        background-color: @white;
    }
    .closeBtn{
        .fontSet(20px, 1);
    }
}