.modal {
  .modal-content {
    background-color: @dbLightGray;
  }
  .modal-header,
  .modal-body {
    border-bottom: 1px solid @dbBlack;
  }
  .noBorder {
    border-bottom: 0px solid;
  }
  .modal-body {
    background-color: @white;
  }
  .closeBtn {
    .fontSet(20px, 1);
  }
  .dark {
    background-color: @dbLightGray;
    border-color: @dbLightGray;
  }
  .headline h1 {
    font-size: 1.5em;
  }
  .centered {
    margin: 100px auto;
  }
  .alert {
    background-color: #E95656;
  }
}
