#ranking {
    .overflowH;
    .topRanks {
        display: table;
        margin-top: @doubleSpacing;
        margin-bottom: @doubleSpacing;
    }
    .podium {
        display: table-cell;
        text-align: center;
        vertical-align: bottom;
        width: 33.33%;
    }
    .podiumBlock {
        .fontSet(80px);
        .iconFont;
        .textC;
        .borderRadius(@halfSpacing @halfSpacing 0 0);
        background-color: @dbBlack;
        padding: 10px 0 10px;
        vertical-align: baseline;
    }
    .podiumImg img{
        display: inline-block;
        margin: 0 @halfSpacing;
        float: none;
    }
    .secondPlace,
    .thirdPlace {
        .podiumBlock {
            line-height: 1;
        }
    }
    .firstPlace {
        .podiumBlock {
            color: @gold;
            padding-top: 50px;
            &:before {
                content: '\e600';
            }
        }
    }
    .secondPlace {
        .podiumBlock {
            color: @silver;
            padding-top: 30px;
            .borderRadius(0 @halfSpacing 0 0);
            &:before {
                content: '\e601';
            }
        }
    }
    .thirdPlace {
        .podiumBlock {
            .borderRadius(@halfSpacing 0 0 0);
            color: @bronze;
            &:before {
                content: '\e602';
            }
        }
    }
    .rank {
        .block;
        .fontSet(30px, 46px);
        .shadowTxt;
        .textC;
        font-weight: bold;
    }
    .rankingStats .userBlock{
        position: relative;
    }
    .crown:before{
        .fontSet(20px, 1);
        .position(absolute, -9px, none, none, 1px);
        content: '\e60c';
        color: @dbBlack;
        text-shadow: -1px 0 @gold, 0 1px @gold, 1px 0 @gold, 0 -1px @gold;
    }
    .closedPr{
        margin-right: @defaultSpacing;
        &:before{
            .fontSet(14px);
            .iconFont;
            content: '\e611'' ';
        }
    }
}
