.avatarWrapper {
    .borderRadius(3px);
    .dimension(@dashboardAvatarSize);
    .floatL;
    .marginRight;
    border: 1px solid @dbBlack;
    display: block;
}

.userBlock {
    .userName {
        .ellipsis;
        .shadowTxt;
        font-weight: bold;
        span {
            .block;
            .ellipsis;
            color: inherit;
        }
        .subName{
            .fontSet(11px, 1.5);
        }
        .assignee& {
            .textR;
            p {
                .ellipsis;
            }
        }
    }
    .author{
        .ellipsis;
    }
}
