.wallboard{
    background-color: @dbBlack;
    section{
        padding: 0;
        margin-bottom: @defaultSpacing;
    }
    .section{
        padding: 0 @halfSpacing;
    }
    .repoBuild{
        .dimension(@doubleSpacing);
        .floatL;
        margin-top: 9px;
    }
    .userBlock{
        .borderRadius(0);
        background-color: rgba(0, 0, 0, .1);
        border-top: 1px solid @dbGray;
        padding: @defaultSpacing 0;
        strong{
            .shadowTxt;
            font-size: 17px;
        }
    }
    .assignee{
        .ellipsis;
        .textR;
    }
    .pullHead{
        .shadowTxt;
        background-color: rgba(0, 0, 0, .1);
        border-bottom: 1px solid @dbGray;
        padding: 10px;
    }
    .title{
        .shadowTxt;
        padding: @doubleSpacing @defaultSpacing;
    }
    .unassignedPullRequests{
        padding: 0 15px;
    }
    .noContent{
        .position(absolute, none, none, 0, none);
        img{
            display: block;
            width: 100%;
            max-width: 400px;
            margin: auto;
        }
    }
}
.assignedPullRequests{
    .borderRadius(0 0 0 10px);
    h2{
        color: @dbBlack;
    }
    background-color: @gray;
    .userBlock{
        background-color: @dbGray;
    }
}
