<div class="contentWrapper" id="dashboard">
    <div class="marginBottom">
        <div class="row">
            <div class="col-xs-10">
              <h2>Open Pull Requests</h2>
            </div>
            <div class="col-xs-2">
                <a title="filter by time {{user.userSettingsDto.orderOptionDto === 'ASC' ? 'newest' : 'oldest' }} first" data-ng-click="orderPrList(user.userSettingsDto.orderOptionDto === 'ASC' ? 'DESC' : 'ASC')" class="filterTimeOrder icon{{user.userSettingsDto.orderOptionDto === 'ASC' ? 'Newest' : 'Oldest' }}" href="#"></a>
            </div>
        </div>
    </div>

    <div class="listView clear">
        <section class="overflowH" data-ng-repeat="pr in pullRequests" data-dvb-pull-request data-pull-request="pr" data-logged-in-user="user"></section>
    </div>
</div>
