<div class="col-xs-3 author userBlock">
    <img class="avatarWrapper" data-ng-src="{{pullRequest.author.avatarUrl}}">
    <a target="_blank" href="{{pullRequest.author.profileUrl}}" data-ng-if="pullRequest.author.fullName" class="userName">
        {{pullRequest.author.fullName}}<br/>
        <span>{{pullRequest.author.username}}</span>
    </a>
    <a href="{{pullRequest.author.profileUrl}}" class="userName" data-ng-if="!pullRequest.author.fullName">{{pullRequest.author.username}}</h5>
</div>
<div class="col-xs-6 facts">
    <div class="overflowH">
        <div class="branch">
            <a title="Build: {{pullRequest.buildStatus}}" data-ng-if="pullRequest.buildStatus !== ''" class="repoBuild {{pullRequest.buildStatus}}" target="_blank">
            <a class="branchName" href="{{pullRequest.url}}" target="_blank">
                <strong>#{{pullRequest.number}} {{pullRequest.title}}</strong>
            </a>
        </div>
        <div class="stats">
            <strong>{{pullRequest.repoName}}</strong>
        </div>
    </div>
    <p>
        <span title="Lines changed" class="linesAdded">+{{pullRequest.linesAdded}}</span>
        <span title="Lines removed" class="linesRemoved">-{{pullRequest.linesRemoved}}</span>
        <span title="Files changed" class="filesChanged" title="Files changed"> {{pullRequest.filesChanged}}</span>
        <span class="requestCreatedAt" data-am-time-ago="pullRequest.createdAt"></span>
        <a href="{{pullRequest.url}}" data-ng-if="pullRequest.numberOfComments > 0" target="_blank" class="comments">{{pullRequest.numberOfComments}}</a>
    </p>
</div>

<div data-dvb-assignment data-pull-request="pullRequest" data-logged-in-user="loggedInUser"></div>