<div class="row">
    <div class="col-md-3 author userBlock">
        <img class="avatarWrapper" ng-src="{{pullRequest.author.avatarUrl}}">
        <p ng-if="pullRequest.author.fullName" class="userName">
            {{pullRequest.author.fullName}}<br/>
            <span>{{pullRequest.author.username}}</span>
        </p>
        <p ng-if="!pullRequest.author.fullName">{{pullRequest.author.username}}</p>
    </div>

    <div class="col-md-5">
        <a ng-href="{{pullRequest.url}}" target="_blank">#{{pullRequest.number}} {{pullRequest.title}}</a>
        <br>
        Repo: {{pullRequest.repoName}} |
        <i class="fa fa-clock-o helpIcon" title="Created"></i>
        <span am-time-ago="pullRequest.createdAt"></span> | Status: {{pullRequest.status}}
    </div>

    <div class="stats col-md-1">
        <i class="fa fa-align-left helpIcon" title="Lines changed"></i>
        <span class="linesAdded">+{{pullRequest.linesAdded}}</span>
        <span class="linesRemoved">-{{pullRequest.linesRemoved}}</span>
        <br>
        <i class="fa fa-file-o helpIcon" title="Files changed"></i> {{pullRequest.filesChanged}}
    </div>

    <assignment
        pull-request="pullRequest" logged-in-user="loggedInUser">
    </assignment>
</div>

<!-- modal dialog for already assigned pull requests-->
<modal-dialog show="modalShown" dialog-title="Pull request is already assigned." width="500px" height="30%"
              on-close="modalClose()">
    <p>Do you really want to assign it to you?</p>
    <button class="btn btn-primary btn-xs" ng-click="confirmAssignment()">Confirm</button>
    <button class="btn btn-default btn-xs" ng-click="abortAssignment()">Abort</button>
</modal-dialog>
