<section>
    <div class="col-sm-3 col-xs-6 userBlock">
        <a class="userName" target="_blank" data-ng-href="{{user.profileUrl}}">
            <span data-ng-if="ranking.rank === 1" class="iconFont crown"></span>
            <img class="avatarWrapper" data-ng-src="{{user.avatarUrl}}">
            <span>{{getName(user)}}</span>
            <span class="subName" data-ng-if="user.fullName">{{user.username}}</span>
        </a>
    </div>

    <div class="col-sm-6 col-xs-12">
        <div class="facts prInfos">
            <p>
                <p>
                    <strong>{{'ranking.userInfos.score' | translate}}: {{ranking.sumOfScores | number:1}}</strong>
                </p>
                <span title="{{'ranking.userInfos.prDone' | translate}}" class="closedPr">{{ranking.closedCount}}</span>
                <span title="{{'ranking.userInfos.linesAdded' | translate}}" class="linesAdded">
                    +{{getAbbreviateLines(ranking.sumOfLinesAdded)}}
                </span>
                <span title="{{'ranking.userInfos.linesRemoved' | translate}}" class="linesRemoved">-{{getAbbreviateLines(ranking.sumOfLinesRemoved)}}</span>
                <span title="{{'ranking.userInfos.filesChanged' | translate}}" class="filesChanged">{{getAbbreviateLines(ranking.sumOfFilesChanged)}}</span>
            </p>
        </div>
    </div>

    <div class="rank col-sm-1 col-sm-offset-2 col-xs-6">
        {{ranking.rank}}
    </div>
</section>