<section>
    <div class="col-sm-3 col-xs-6 userBlock">
        <span data-ng-if="ranking.rank === 1" class="iconFont crown"></span>
        <img class="avatarWrapper" data-ng-src="{{user.avatarUrl}}">
        <a class="userName" target="_blank" href="{{user.profileUrl}}">
            <span>{{getName(user)}}</span>
            <span class="subName" data-ng-if="user.fullName">{{user.username}}</span>
        </a>
    </div>

    <div class="col-sm-6 col-xs-12">
        <div class="facts prInfos">
            <p>
                <strong>Closed Pull Requests:</strong>
                {{ranking.closedCount}}
            </p>
            <p>
                <strong>Lines of Code:</strong>
                not yet implemented
            </p>
        </div>
    </div>

    <div class="rank col-sm-1 col-sm-offset-2 col-xs-6">
        {{ranking.rank}}
    </div>
</section>