<div class="col-md-6 col-md-offset-3 topRanks">
    <div class="podium thirdPlace">
        <h5 class="podiumName">
            <span data-ng-repeat="user in rankingList[2].users">{{user.fullName}}</span>
        </h5>
        <div class="podiumBlock"></div>
    </div>
    <div class="podium firstPlace">
        <h5 class="podiumName">
            <span data-ng-repeat="user in rankingList[0].users">{{user.fullName}}</span>
        </h5>
        <div class="podiumBlock"></div>
    </div>
    <div class="podium secondPlace">
        <h5 class="podiumName">
            <span data-ng-repeat="user in rankingList[1].users">{{user.fullName}}</span>
        </h5>
        <div class="podiumBlock"></div>
    </div>
</div>

<div class="overflowH clear rankingHeadline">
    <strong class="block col-xs-3">Developer</strong>
<strong class="block col-xs-2">Closed Pull Requests</strong>
    <strong class="block col-xs-6">Lines of Code</strong>
        <strong class="block col-xs-1">Rank</strong>
</div>

<div class="listView"  data-ng-repeat="rank in rankingList">
    <div  data-ng-repeat="user in rank.users">
        <ranking-list class="rankingStats" rankdata="rank" userdata="user">
        </ranking-list>
    </div>
</div>
