.animation(@duration:2s, @ease:ease, @delay:0s, @direction:normal, @iteration-count:infinite, @name:pending) {
    -webkit-animation: @duration @ease @delay @direction @iteration-count @name;
    -moz-animation: @duration @ease @delay @direction @iteration-count @name;
    -o-animation: @duration @ease @delay @direction @iteration-count @name;
    animation: @duration @ease @delay @direction @iteration-count @name;
}
.borderRadius(@radius) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;

}
.transform(@transformValues){
    -webkit-transform: @transformValues;
    -ms-transform: @transformValues;
    transform: @transformValues;
}
.transition(@transitionValues){
    -webkit-transition: @transitionValues;
    -o-transition: @transitionValues;
    transition: @transitionValues;
}
.dimension(@height, @width: @height) {
    height: @height;
    width: @width;
}

.fontSet(@size, @lineHeight: @size ) {
    font-size: @size;
    line-height: @lineHeight;
}

.keyframes(@name, @frames) {
    @-webkit-keyframes @name { @frames(); }
    @-moz-keyframes @name { @frames(); }
    @-ms-keyframes @name { @frames(); }
    @-o-keyframes @name { @frames(); }
    @keyframes @name { @frames(); }
}

.opacity(@opacity: 1) {
    @ieOpacity: 100 * @opacity;
    -khtml-opacity: @opacity;
    -moz-opacity: @opacity;
    opacity: @opacity;
    -ms-filter: ~'"progid:DXImageTransform.Microsoft.Alpha(Opacity=@{ieOpacity})"';
    filter: ~'"alpha(opacity=@{ieOpacity})"';
}

.boxShadow(@value){
    -webkit-box-shadow: @value;
    -moz-box-shadow: @value;
    box-shadow: @value;
}

    /*********************************************************************/
   /*************************** POSITION ********************************/
  /*********************************************************************/
 /*********** .element {.position(absolute, 0, 20px, null, auto);} ****/
/*********************************************************************/

.position(@position: none, @top: none, @right: none, @bottom: none, @left: none) {
    .property(position, @position);
    .property(top, @top);
    .property(right, @right);
    .property(bottom, @bottom);
    .property(left, @left);

    .property(@property, @value) {

        ._getProp(position) when not (@position = none) {
            position: @value;
        }

        ._getProp(top) when not (@top = none) {
            top: @value;
        }

        ._getProp(right) when not (@right = none) {
            right: @value;
        }

        ._getProp(bottom) when not (@bottom = none) {
            bottom: @value;
        }

        ._getProp(left) when not (@left = none) {
            left: @value;
        }

        ._getProp(@property);

    }
;

}