@warning1:  #f8f8f8;
@warning2:  #ffc;
@warning3:  #fec;
@warning4:  #fcc;
@warning5:  #faa;
@removed:   #bd2c00;
@added:     #55a532;
@gold:      gold;
@silver:    silver;
@bronze:    burlywood;
@gold:      gold;
@silver:    silver;
@bronze:    burlywood;
@black:     #404040;
@white:     #FFF;
@dbGreen:   #95c11f;
@dbBlack:   #43495b;