//.keyframes(pulse,
//    0% {background-color: @dbGreen;}
//    50% {background-color: @warning3;}
//    100% {background-color: @dbGreen;}
//);



@-webkit-keyframes pulse {
    0% {background-color: @dbGreen;}
    50% {background-color: @warning3;}
    100% {background-color: @dbGreen;}
}
@-moz-keyframes pulse {
    0% {background-color: @dbGreen;}
    50% {background-color: @warning3;}
    100% {background-color: @dbGreen;}
}
@-o-keyframes pulse {
    0% {background-color: @dbGreen;}
    50% {background-color: @warning3;}
    100% {background-color: @dbGreen;}
}
@keyframes pulse {
    0% {background-color: @dbGreen;}
    50% {background-color: @warning3;}
    100% {background-color: @dbGreen;}
}

@-webkit-keyframes masterBubble {
    0% {
        top: 203px;
        left: 126px;
    } 10% {
        .dimension(17px, 17px);
        top: 233px;
        left: 161px;
    } 20% {
        .dimension(17px, 17px);
        top: 158px;
        left: 78px;
    } 30% {
        .dimension(89px, 89px);
        top: 120px;
        left: 42px;
    } 40% {
        .dimension(17px, 17px);
        top: 158px;
        left: 78px;
    } 50% {
        .dimension(17px, 17px);
        top: 69px;
        left: -9px;
    } 60% {
        .dimension(89px, 89px);
        top: 34px;
        left: -44px;
    } 90% {
        .dimension(89px, 89px);
        top: 34px;
        left: -44px;
    } 95% {
        .dimension(17px, 17px);
        top: 71px;
        left: -7px;
    } 100% {
        .dimension(17px, 17px);
        top: 22px;
        left: -54px;
    }
}

@-moz-keyframes masterBubble {
    0% {
        top: 203px;
        left: 126px;
    } 10% {
        .dimension(17px, 17px);
        top: 233px;
        left: 161px;
    } 20% {
        .dimension(17px, 17px);
        top: 158px;
        left: 78px;
    } 30% {
        .dimension(89px, 89px);
        top: 120px;
        left: 42px;
    } 40% {
        .dimension(17px, 17px);
        top: 158px;
        left: 78px;
    } 50% {
        .dimension(17px, 17px);
        top: 69px;
        left: -9px;
    } 60% {
        .dimension(89px, 89px);
        top: 34px;
        left: -44px;
    } 90% {
        .dimension(89px, 89px);
        top: 34px;
        left: -44px;
    } 95% {
        .dimension(17px, 17px);
        top: 71px;
        left: -7px;
    } 100% {
        .dimension(17px, 17px);
        top: 22px;
        left: -54px;
    }
}

@-o-keyframes masterBubble {
    0% {
        top: 203px;
        left: 126px;
    } 10% {
        .dimension(17px, 17px);
        top: 233px;
        left: 161px;
    } 20% {
        .dimension(17px, 17px);
        top: 158px;
        left: 78px;
    } 30% {
        .dimension(89px, 89px);
        top: 120px;
        left: 42px;
    } 40% {
        .dimension(17px, 17px);
        top: 158px;
        left: 78px;
    } 50% {
        .dimension(17px, 17px);
        top: 69px;
        left: -9px;
    } 60% {
        .dimension(89px, 89px);
        top: 34px;
        left: -44px;
    } 90% {
        .dimension(89px, 89px);
        top: 34px;
        left: -44px;
    } 95% {
        .dimension(17px, 17px);
        top: 71px;
        left: -7px;
    } 100% {
        .dimension(17px, 17px);
        top: 22px;
        left: -54px;
    }
}

@keyframes masterBubble {
    0% {
        top: 203px;
        left: 126px;
    } 10% {
        .dimension(17px, 17px);
        top: 233px;
        left: 161px;
    } 20% {
        .dimension(17px, 17px);
        top: 158px;
        left: 78px;
    } 30% {
        .dimension(89px, 89px);
        top: 120px;
        left: 42px;
    } 40% {
        .dimension(17px, 17px);
        top: 158px;
        left: 78px;
    } 50% {
        .dimension(17px, 17px);
        top: 69px;
        left: -9px;
    } 60% {
        .dimension(89px, 89px);
        top: 34px;
        left: -44px;
    } 90% {
        .dimension(89px, 89px);
        top: 34px;
        left: -44px;
    } 95% {
        .dimension(17px, 17px);
        top: 71px;
        left: -7px;
    } 100% {
        .dimension(17px, 17px);
        top: 22px;
        left: -54px;
    }
}

@-webkit-keyframes mergeBubble {
    0% {
        .dimension(17px, 17px);
        top: 160px;
        left: 266px;
    } 20% {
        .dimension(17px, 17px);
        top: 64px;
        left: 169px;
    } 30% {
        .dimension(89px, 89px);
        top: 30px;
        left: 134px;
    } 60% {
        .dimension(17px, 17px);
        top: 64px;
        left: 169px;
    } 70% {
        .dimension(17px, 17px);
        top: 60px;
        left: -7px;
        opacity: 1;
    } 71% {
        opacity: 0;
        .dimension(17px, 17px);
        top: 60px;
        left: -7px;
    } 100% {
        opacity: 0;
    }
}

@-moz-keyframes mergeBubble {
    0% {
        .dimension(17px, 17px);
        top: 160px;
        left: 266px;
    } 20% {
        .dimension(17px, 17px);
        top: 64px;
        left: 169px;
    } 30% {
        .dimension(89px, 89px);
        top: 30px;
        left: 134px;
    } 60% {
        .dimension(17px, 17px);
        top: 64px;
        left: 169px;
    } 70% {
        .dimension(17px, 17px);
        top: 60px;
        left: -7px;
        opacity: 1;
    } 71% {
        opacity: 0;
        .dimension(17px, 17px);
        top: 60px;
        left: -7px;
    } 100% {
        opacity: 0;
    }
}

@-o-keyframes mergeBubble {
    0% {
        .dimension(17px, 17px);
        top: 160px;
        left: 266px;
    } 20% {
        .dimension(17px, 17px);
        top: 64px;
        left: 169px;
    } 30% {
        .dimension(89px, 89px);
        top: 30px;
        left: 134px;
    } 60% {
        .dimension(17px, 17px);
        top: 64px;
        left: 169px;
    } 70% {
        .dimension(17px, 17px);
        top: 60px;
        left: -7px;
        opacity: 1;
    } 71% {
        opacity: 0;
        .dimension(17px, 17px);
        top: 60px;
        left: -7px;
    } 100% {
        opacity: 0;
    }
}

@keyframes mergeBubble {
    0% {
        .dimension(17px, 17px);
        top: 160px;
        left: 266px;
    } 20% {
        .dimension(17px, 17px);
        top: 64px;
        left: 169px;
    } 30% {
        .dimension(89px, 89px);
        top: 30px;
        left: 134px;
    } 60% {
        .dimension(17px, 17px);
        top: 64px;
        left: 169px;
    } 70% {
        .dimension(17px, 17px);
        top: 60px;
        left: -7px;
        opacity: 1;
    } 71% {
        opacity: 0;
        .dimension(17px, 17px);
        top: 60px;
        left: -7px;
    } 100% {
        opacity: 0;
    }
}

