@-webkit-keyframes pulse {
    0% {background-color: @dbGreen;}
    50% {background-color: @warning3;}
    100% {background-color: @dbGreen;}
}
@-moz-keyframes pulse {
    0% {background-color: @dbGreen;}
    50% {background-color: @warning3;}
    100% {background-color: @dbGreen;}
}
@-o-keyframes pulse {
    0% {background-color: @dbGreen;}
    50% {background-color: @warning3;}
    100% {background-color: @dbGreen;}
}
@keyframes pulse {
    0% {background-color: @dbGreen;}
    50% {background-color: @warning3;}
    100% {background-color: @dbGreen;}
}