<div class="row">
    <div class="col-md-3" id="langSwitch">
        <div class="contentWrapper overflowH">
            <h3 class="marginBottom">{{'settings.headline.settings' | translate}}</h3>
            <ul class="marginBottom" data-ng-controller="translateCtrl">
                <li data-ng-repeat="(languageKey, languageName) in languages">
                    <span id="langToggle{{languageKey}}" data-ng-model="user.userSettingsDto.language" class="block {{user.userSettingsDto.language === languageKey ? 'active' : 'cPointer'}}"
                       data-ng-click="saveUserLang(languageKey); changeLanguage(languageKey)">
                        {{languageName}}
                    </span>
                </li>
            </ul>
            <hr>
            <label for="desktopNotification"
                   data-ng-class="{striked : !user.userSettingsDto.desktopNotification}">
                <input type="checkbox" id="desktopNotification" data-ng-model="user.userSettingsDto.desktopNotification" data-ng-click="saveNotification()">
                {{'settings.desktopNotification' | translate}}
            </label>
        </div>
    </div>
    <div class="col-md-9">
        <div class="contentWrapper"
             id="repoFilter">
            <div class="head">
                <h3 class="floatL">
                    {{'settings.headline.repo' | translate}}
                </h3>
                <button type="button"
                        class="button floatR"
                        data-ng-click="saveBlacklist()">{{'global.btn.save' | translate}}
                </button>
            </div>

            <div class="row">
                <div class="marginBottom col-xs-12 col-md-8  col-sm-6">
                    <a class="button selectAllBtn"
                       data-ng-click="checkAll()"
                       href="">{{'settings.filter.select.all' | translate}}</a>
                    <a class="button"
                       data-ng-click="uncheckAll()"
                       href="">{{'settings.filter.select.none' | translate}}</a>
                </div>
                <div class="marginBottom col-xs-12 col-md-4 col-sm-6">
                    <input type="text"
                           placeholder="{{'settings.filter.search' | translate}}"
                           class="input"
                           data-ng-model="searchText"/>
                </div>
            </div>
            <ul class="row">
                <li class="col-md-4 col-sm-6"
                    data-ng-repeat="repo in filteredRepos | orderBy:['name'] ">
                    <label for="{{repo.name}}"
                           data-ng-class="{striked : !repo.checked}">
                        <input data-ng-model="repo.checked"
                               id="{{repo.name}}"
                               type="checkbox"/>
                        {{repo.name}}
                    </label>
                </li>
            </ul>
        </div>
    </div>
</div>
